<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoAnThoiTrang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DoAnThoiTrang.Properties.Settings.QL_ShopThoiTrangConnectionString"
            connectionString="Data Source=DESKTOP-6R47R7R\SQLEXPRESS;Initial Catalog=QL_ShopThoiTrang;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="DoAnThoiTrang.Properties.Settings.ClothesizeConnectionString"
            connectionString="Data Source=DESKTOP-6R47R7R\SQLEXPRESS;Initial Catalog=Clothesize;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DoAnThoiTrang.Properties.Settings>
            <setting name="ChuoiKetNoi" serializeAs="String">
                <value>Data Source=DESKTOP-6R47R7R\SQLEXPRESS;Initial Catalog=QL_ShopThoiTrang;User ID=sa;Password=sa2012</value>
            </setting>
        </DoAnThoiTrang.Properties.Settings>
    </userSettings>
</configuration>